<link rel="stylesheet" href="/stylesheets/nav.css">

<div class="nav">

    <img src="/images/pngtree-open-book-logo-png-image-png-image_4699354-removebg-preview.png" alt="">
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/register">Register Books</a></li>
        <li><a href="/show">Books</a></li>
    </ul>

</div>