<%- include('partials/header.ejs')%>
    <%- include('partials/nav.ejs')%>

      <div class="register-container">
       <h2>Update Your Books</h2>

      </div>

        <%- include('partials/footer.ejs')%>
